shamefully-hoist=true
strict-peer-dependencies=false
public-hoist-pattern[]=*electron*
public-hoist-pattern[]=*electron-builder*
enable-pre-post-scripts=true
electron_mirror=https://npmmirror.com/mirrors/electron/

